/data
/model.joblib
/metrics.log
/.ipynb_checkpoints/
/__pycache__/
tests/.ipynb_checkpoints/
k8s/.ipynb_checkpoints/
poisoned_data/
outputs/clean/.ipynb_checkpoints/
scripts/.ipynb_checkpoints/
/poisoned_data
outputs/poison_5/.ipynb_checkpoints/
outputs/poison_10/.ipynb_checkpoints/
outputs/poison_15/.ipynb_checkpoints/
