apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlops-assignment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mlops-assignment-service
  template:
    metadata:
      labels:
        app: mlops-assignment-service
    spec:
      serviceAccountName: telemetry-access
      containers:
      - name: iris-api-container
        image: us-central1-docker.pkg.dev/sheetgpt-385916/iris-api-repo/iris-api:latest
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /ready_check
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /live_check
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
