apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    autopilot.gke.io/resource-adjustment: '{"input":{"containers":[{"name":"iris-api-sha256-1"}]},"output":{"containers":[{"limits":{"ephemeral-storage":"1Gi"},"requests":{"cpu":"500m","ephemeral-storage":"1Gi","memory":"2Gi"},"name":"iris-api-sha256-1"}]},"computeClassAtAdmission":"Default","modified":true}'
    autopilot.gke.io/warden-version: 33.33.20-gke.0
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: "2025-11-02T17:52:20Z"
  generation: 2
  labels:
    app: iris-deployment-1
    app.kubernetes.io/managed-by: cloud-console
  name: iris-deployment-1
  namespace: default
  resourceVersion: "1762106512481647004"
  uid: cedbca5a-4a1a-46df-b96e-a5a2b7c7ec39
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: iris-deployment-1
      app.kubernetes.io/managed-by: cloud-console
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: iris-deployment-1
        app.kubernetes.io/managed-by: cloud-console
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/sheetgpt-385916/iris-api-repo/iris-api@sha256:aeae6965fea5d68674c5a4262698e785cd0d0399c102933bb75a697979b02ebc
        imagePullPolicy: IfNotPresent
        name: iris-api-sha256-1
        resources:
          limits:
            ephemeral-storage: 1Gi
          requests:
            cpu: 500m
            ephemeral-storage: 1Gi
            memory: 2Gi
        securityContext:
          capabilities:
            drop:
            - NET_RAW
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      terminationGracePeriodSeconds: 30
      tolerations:
      - effect: NoSchedule
        key: kubernetes.io/arch
        operator: Equal
        value: amd64
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-11-02T17:56:10Z"
    lastUpdateTime: "2025-11-02T17:56:10Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-11-02T17:52:20Z"
    lastUpdateTime: "2025-11-02T17:56:10Z"
    message: ReplicaSet "iris-deployment-1-8665dc944f" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 2
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
