name: CI/CD to GKE

on:
  push:
    branches: [ "main" ]

env:
  REPO_NAME: iris-api-repo
  IMAGE_NAME: iris-api
  CLUSTER_NAME: mlops-gke
  GCS_DATA_PATH: gs://mlops-week1/v1/data/data.csv

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout code
    - name: Checkout code
      uses: actions/checkout@v4

    # Authenticate to Google Cloud
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SERVICE_KEY }}

    # Verify account (optional but very useful for debugging)
    # - name: Verify active account
    #   run: gcloud auth list

    # Set up gcloud CLI
    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ env.PROJECT_ID }}

    # Set up CML (for model metrics reporting)
    - name: Set up CML
      uses: iterative/setup-cml@v2

    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    # Get dataset from GCS
    - name: Get dataset from GCS
      run: |
        mkdir -p data
        gsutil cp $GCS_DATA_PATH data/data.csv

    - name: Download model from GCS
      run: |
        gsutil cp gs://mlops-week1/week6/model.joblib model.joblib

    # Install dependencies
    - name: Install dependencies
      run: pip install -r requirements.txt

    # Run tests
    # - name: Run tests
    #   run: PYTHONPATH=. pytest -v
        
    # Configure Docker to push to Artifact Registry
    - name: Configure Docker for Artifact Registry
      run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

    # Build Docker image
    - name: Build Docker image
      run: docker build -t us-central1-docker.pkg.dev/sheetgpt-385916/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest .

    # Push Docker image to Artifact Registry
    - name: Push Docker image to Artifact Registry
      run: docker push us-central1-docker.pkg.dev/sheetgpt-385916/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest

    - name: Configure kubectl
      run: |
        sudo apt-get update
        sudo apt-get install -y curl apt-transport-https ca-certificates gnupg
        curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo gpg --dearmor -o /usr/share/keyrings/cloud.google.gpg
        echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
        sudo apt-get update
        sudo apt-get install -y google-cloud-sdk-gke-gcloud-auth-plugin
        gcloud container clusters get-credentials ${{ env.CLUSTER_NAME }} --region us-central1
        echo "kubectl configured."

    # Deploy to GKE
    - name: Deploy to GKE
      run: |
        export USE_GKE_GCLOUD_AUTH_PLUGIN=True
        kubectl replace --force -f k8s/deployment.yaml
        kubectl replace --force -f k8s/service.yaml
        
    # - name: Post CML report
    #   run: |
    #     echo "## CI/CD Pipeline Report" > report.md
    #     echo "Tests passed and model deployed to GKE successfully!" >> report.md
    #     echo "Image pushed to Artifact Registry: us-central1-docker.pkg.dev/sheetgpt-385916/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest" >> report.md
    #     echo "Deployed to GKE" >> report.md
    #     cml comment create report.md

